<!--
Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the database.

REF: Borrowing some of old homework for button elements generation and event handling
seen in github.com:kimchikimchi/giphy-api.git
-->

<div class="jumbotron">
    <h1 class="display-4">Burger-Burger</h1>
</div>

<h2><span class="badge badge-secondary">Burgers ready to be eaten</span></h2>
<ul id="uneatenBurgers" class="list-group">
    {{#each burgers}}
        {{#unless devoured}}
            <li><a herf="#" class="eat-burger list-group-item list-group-item-action" data-id="{{id}}">
                Click to Eat {{id}} - {{burger_name}}
            </a></li>
        {{/unless}}
    {{/each}}
</ul>


<h2><span class="badge badge-secondary">Burgers Eaten</span></h2>
<ul id="eatenBurgers" class="list-group">
    {{#each burgers}}
        {{#if devoured}}
            <li><a herf="#" class="list-group-item list-group-item-action" data-id="{{id}}">
                {{id}} - {{burger_name}}
            </a></li>
        {{/if}}
    {{/each}}
</ul>


<h2><span class="badge badge-secondary">Add New Burger</span></h2>
<form class="form-inline">
    <div class="form-group mb-2">
        <input type="text" readonly class="form-control-plaintext" value="Burger Name: ">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="burger" placeholder="name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Burger</button>
</form>
